In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('cast.csv')
data.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [3]:
data.isnull().sum()

title             2
year              0
name              0
type              0
character         5
n            407926
dtype: int64

In [4]:
data.title.fillna(data.title.mode()[0],inplace=True)

In [5]:
data.character.fillna(data.character.mode()[0],inplace=True)

In [6]:
data.n.fillna(data.n.mean(),inplace=True)

In [7]:
data.isnull().sum()

title        0
year         0
name         0
type         0
character    0
n            0
dtype: int64

### How many movies are listed in the titles dataframe?

In [8]:
data.title.value_counts()

title
Around the World in Eighty Days    385
7 cajas                            191
The Dark Knight Rises              173
The Ten Commandments               167
The Buccaneer                      158
                                  ...
Jing wang shuang xiong               1
Dei ha ching                         1
Cheung duen geuk ji luen             1
'O' nu                               1
Mechenye                             1
Name: count, Length: 150893, dtype: int64

In [9]:
print(" There are 150893 movies are listed in the titles dataframe.")

 There are 150893 movies are listed in the titles dataframe.

### What are the earliest two films listed in the titles dataframe?

In [10]:
data.title.head(2)

0     Closet Monster
1    Suuri illusioni
Name: title, dtype: object

In [11]:
print("Closet Monster and Suuri illusioni are the earliest two films listed in the titles dataframe")

Closet Monster and Suuri illusioni are the earliest two films listed in the titles dataframe

### How many movies have the title "Hamlet"?

In [12]:
hamlet_count_in_title = data['title'].str.contains('Hamlet').sum()
print(hamlet_count_in_title)

312

In [13]:
print(f"Occurrences of 'Hamlet' in the 'title' column: {hamlet_count_in_title}")

Occurrences of 'Hamlet' in the 'title' column: 312

### How many movies are titled "North by Northwest"?

In [14]:
North_by_Northwest_in_title = data["title"].str.contains("North by Northwest").sum()
print(North_by_Northwest_in_title)

41

In [15]:
print(f"Occurences of 'North by Northwest' in title column: {North_by_Northwest_in_title}")

Occurences of 'North by Northwest' in title column: 41

### When was the first movie titled "Hamlet" made?

In [16]:
hamlet_movies = data[data['title'] == 'Hamlet']

first_year_hamlet = hamlet_movies['year'].min()

print(f"The first year 'Hamlet' was made: {first_year_hamlet}")

The first year 'Hamlet' was made: 1911

### List all of the "Treasure Island" movies from earliest to most recent.

In [17]:
treasure_movies = data[data['title'] == 'Treasure Island']

first_year_treasure = treasure_movies['year']

print(f"Treasure Island movies are:\n {first_year_treasure}")

Treasure Island movies are:
 9432       1934
13253      1950
16246      1985
42039      1972
55071      1934
           ...
977651     1920
999455     1934
1033710    1934
1036658    1972
1040574    1950
Name: year, Length: 81, dtype: int64

### How many movies were made in the year 1950?

In [18]:
movies_1950=data[data['year']==1950]

num_movies_1950=len(movies_1950)

print(f"Number of movies made in the year 1950: {num_movies_1950}")

Number of movies made in the year 1950: 7389

### How many movies were made in the year 1960?

In [19]:
movies_1960=data[data['year']==1960]

num_movies_1960=len(movies_1960)

print(f"Number of movies made in the year 1960: {num_movies_1960}")

Number of movies made in the year 1960: 5608

### How many movies were made from 1950 through 1959?

In [20]:
movies_1950_to_1959 = data[(data['year'] >= 1950) & (data['year'] <= 1959)]

num_movies_1950_to_1959=len(movies_1950_to_1959)

print(f"Number of movies made in the year 1950 to 1959: {num_movies_1950_to_1959}")

Number of movies made in the year 1950 to 1959: 67706

### In what years has a movie titled "Batman" been released?

In [21]:
movie_batman=data[data['title']=="Batman"]

batman_movie_release_year=movie_batman['year']

print(f"\nBatman Movie Release Years:\n {batman_movie_release_year}")

Batman Movie Release Years:
 95672      1943
96186      1943
114034     1989
119476     1989
149767     1989
199262     1989
211518     1989
258721     1943
287420     1943
379733     1989
387956     1943
449581     1989
468892     1989
470065     1989
477447     1943
477448     1943
489980     1989
490035     1943
492323     1989
499977     1989
575535     1943
592716     1943
596448     1989
612482     1943
618032     1989
633157     1989
670819     1989
706534     1943
713064     1943
735294     1943
746897     1943
772267     1943
779455     1989
808898     1943
830209     1989
832826     1989
880219     1943
883681     1989
949057     1989
966816     1989
973056     1943
987413     1989
1007490    1943
1029154    1943
1043887    1943
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [22]:
inception_roles = data[data['title'] == 'Inception']

num_roles_inception = len(inception_roles)

print(f"Number of roles in the movie 'Inception': {num_roles_inception}")

Number of roles in the movie 'Inception': 27

In [23]:
inception_roles = data[data['title'] == 'Inception']

num_roles_inception = inception_roles

print(f"Number of roles in the movie 'Inception':\n {num_roles_inception}")

Number of roles in the movie 'Inception':
             title  year                     name   type  \
94333   Inception  2010     Michael (III) August  actor
143138  Inception  2010             Peter Basham  actor
176819  Inception  2010             Tom Berenger  actor
190249  Inception  2010                 Ken Bhan  actor
250191  Inception  2010           Virgile Bramly  actor
314663  Inception  2010            Michael Caine  actor
321091  Inception  2010             Earl Cameron  actor
361119  Inception  2010            John Ceallach  actor
417982  Inception  2010            Nicolas Clerc  actor
428199  Inception  2010           Adam (IV) Cole  actor
498708  Inception  2010       Jean-Michel Dagory  actor
569504  Inception  2010        Leonardo DiCaprio  actor
659835  Inception  2010            Seve Esposito  actor
666157  Inception  2010      Marcus (II) Everett  actor
682511  Inception  2010  Zachary Christopher Fay  actor
684215  Inception  2010                Russ Fega  actor
711192  Inception  2010         Mark Fleischmann  actor
779284  Inception  2010           Michael Gaston  actor
783405  Inception  2010          Johnathan Geare  actor
802478  Inception  2010            Carl Gilliard  actor
803728  Inception  2010              Jack Gilroy  actor
806524  Inception  2010        Daniel Girondeaud  actor
829338  Inception  2010     Joseph Gordon-Levitt  actor
878274  Inception  2010               Lukas Haas  actor
907468  Inception  2010                Tom Hardy  actor
932903  Inception  2010             Ryan Hayward  actor
971196  Inception  2010          Andrew Hoagland  actor

                    character          n
94333           LAX Passenger  16.515828
143138  Fischer's Jet Captain  44.000000
176819               Browning   8.000000
190249       Mombasan Gambler  16.515828
250191         Bridge Sub Con  29.000000
314663                  Miles  11.000000
321091       Elderly Bald Man  20.000000
361119          LAX Passenger  16.515828
417982         Bridge Sub Con  26.000000
428199            Bar Sub Con  34.000000
498708         Bridge Sub Con  30.000000
569504                   Cobb   1.000000
659835        Italian Gambler  16.515828
666157           Stock Broker  16.515828
682511                  Extra  16.515828
684215             Cab Driver  23.000000
711192        Penrose Sub Con  32.000000
779284    Immigration Officer  45.000000
783405        James (3 years)  17.000000
802478          Lobby Sub Con  40.000000
803728               Old Cobb  50.000000
806524         Bridge Sub Con  16.515828
829338                 Arthur   2.000000
878274                   Nash  12.000000
907468                  Eames   4.000000
932903                 Lawyer  21.000000
971196             Pedestrian  16.515828

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [24]:
inception_unranked_roles = data[(data['title'] == 'Inception') & data['n'].isna()]

num_unranked_roles_inception = len(inception_unranked_roles)

print(f"Number of roles in the movie 'Inception' not ranked by an 'n' value: {num_unranked_roles_inception}")

Number of roles in the movie 'Inception' not ranked by an 'n' value: 0

### But how many roles in the movie "Inception" did receive an "n" value?

In [25]:
inception_not_null_values = data[(data['title'] == 'Inception') & data['n'].notna()]

print(f"\nRoles in the movie Inception did receive an 'n' value are :\n {inception_not_null_values} ")

Roles in the movie Inception did receive an 'n' value are :
             title  year                     name   type  \
94333   Inception  2010     Michael (III) August  actor
143138  Inception  2010             Peter Basham  actor
176819  Inception  2010             Tom Berenger  actor
190249  Inception  2010                 Ken Bhan  actor
250191  Inception  2010           Virgile Bramly  actor
314663  Inception  2010            Michael Caine  actor
321091  Inception  2010             Earl Cameron  actor
361119  Inception  2010            John Ceallach  actor
417982  Inception  2010            Nicolas Clerc  actor
428199  Inception  2010           Adam (IV) Cole  actor
498708  Inception  2010       Jean-Michel Dagory  actor
569504  Inception  2010        Leonardo DiCaprio  actor
659835  Inception  2010            Seve Esposito  actor
666157  Inception  2010      Marcus (II) Everett  actor
682511  Inception  2010  Zachary Christopher Fay  actor
684215  Inception  2010                Russ Fega  actor
711192  Inception  2010         Mark Fleischmann  actor
779284  Inception  2010           Michael Gaston  actor
783405  Inception  2010          Johnathan Geare  actor
802478  Inception  2010            Carl Gilliard  actor
803728  Inception  2010              Jack Gilroy  actor
806524  Inception  2010        Daniel Girondeaud  actor
829338  Inception  2010     Joseph Gordon-Levitt  actor
878274  Inception  2010               Lukas Haas  actor
907468  Inception  2010                Tom Hardy  actor
932903  Inception  2010             Ryan Hayward  actor
971196  Inception  2010          Andrew Hoagland  actor

                    character          n
94333           LAX Passenger  16.515828
143138  Fischer's Jet Captain  44.000000
176819               Browning   8.000000
190249       Mombasan Gambler  16.515828
250191         Bridge Sub Con  29.000000
314663                  Miles  11.000000
321091       Elderly Bald Man  20.000000
361119          LAX Passenger  16.515828
417982         Bridge Sub Con  26.000000
428199            Bar Sub Con  34.000000
498708         Bridge Sub Con  30.000000
569504                   Cobb   1.000000
659835        Italian Gambler  16.515828
666157           Stock Broker  16.515828
682511                  Extra  16.515828
684215             Cab Driver  23.000000
711192        Penrose Sub Con  32.000000
779284    Immigration Officer  45.000000
783405        James (3 years)  17.000000
802478          Lobby Sub Con  40.000000
803728               Old Cobb  50.000000
806524         Bridge Sub Con  16.515828
829338                 Arthur   2.000000
878274                   Nash  12.000000
907468                  Eames   4.000000
932903                 Lawyer  21.000000
971196             Pedestrian  16.515828

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [26]:
North_by_Northwest = data[(data['title'] == 'North by Northwest') & data['n'].notna()]

print(North_by_Northwest)

                      title  year               name   type  \
12151    North by Northwest  1959      Stanley Adams  actor
27852    North by Northwest  1959         Andy Albin  actor
54093    North by Northwest  1959       Don Anderson  actor
54307    North by Northwest  1959    Ernest Anderson  actor
92195    North by Northwest  1959  Malcolm Atterbury  actor
97833    North by Northwest  1959          Tol Avery  actor
109025   North by Northwest  1959         Sam Bagley  actor
114334   North by Northwest  1959        Frank Baker  actor
137656   North by Northwest  1959      Baynes Barron  actor
151717   North by Northwest  1959      Brandon Beach  actor
176030   North by Northwest  1959      John Beradino  actor
198496   North by Northwest  1959       Edward Binns  actor
222299   North by Northwest  1959    Stephen Bolster  actor
343701   North by Northwest  1959     Leo G. Carroll  actor
344204   North by Northwest  1959   Steve Carruthers  actor
350192   North by Northwest  1959      Taggart Casey  actor
356803   North by Northwest  1959      Bill Catching  actor
424676   North by Northwest  1959       Bob (II) Coe  actor
447893   North by Northwest  1959    Philip Coolidge  actor
467714   North by Northwest  1959       David A. Cox  actor
468709   North by Northwest  1959         Walter Coy  actor
479498   North by Northwest  1959        Jimmy Cross  actor
502759   North by Northwest  1959          Jack Daly  actor
503758   North by Northwest  1959        John Damler  actor
581619   North by Northwest  1959    Lawrence Dobkin  actor
605839   North by Northwest  1959    Alphonso DuBois  actor
642085   North by Northwest  1959  Robert Ellenstein  actor
679471   North by Northwest  1959      Tommy Farrell  actor
682655   North by Northwest  1959    Adolph Faylauer  actor
786648   North by Northwest  1959         Paul Genge  actor
808703   North by Northwest  1959          Ned Glass  actor
821927   North by Northwest  1959     James Gonzalez  actor
840374   North by Northwest  1959         Cary Grant  actor
849881   North by Northwest  1959       Tom Greenway  actor
884907   North by Northwest  1959      Robert Haines  actor
891171   North by Northwest  1959        Stuart Hall  actor
944454   North by Northwest  1959         Len Hendry  actor
969404   North by Northwest  1959   Alfred Hitchcock  actor
982746   North by Northwest  1959      Stuart Holmes  actor
1026719  North by Northwest  1959      Hideo Inamura  actor
1041665  North by Northwest  1959     Eugene Jackson  actor

                                 character          n
12151                   Lieutenant Harding  16.515828
27852                               Farmer  16.515828
54093                               Worker  16.515828
54307     Porter on Twentieth Century Ltd.  16.515828
92195              Man at Prairie Crossing  16.515828
97833               State Police Detective  16.515828
109025                 Courtroom Spectator  16.515828
114334                      Man at Auction  16.515828
137656                      Taxi Driver #2  16.515828
151717                      Man at Auction  16.515828
176030              Sergeant Emile Klinger  16.515828
198496                      Captain Junket  15.000000
222299                     Man with Camera  16.515828
343701                       The Professor   5.000000
344204                      Man at Auction  16.515828
350192                         Shaving Man  16.515828
356803                   Auction Attendant  16.515828
424676                    Cropduster Pilot  16.515828
447893                           Dr. Cross  13.000000
467714             Police Officer on Horse  16.515828
468709   U.S. Intelligence Agency Official  16.515828
479498                      Taxi Driver #1  16.515828
502759                       Train Steward  16.515828
503758                   Police Lieutenant  16.515828
581619   U.S. Intelligence Agency Official  16.515828
605839      Man at United Nations Building  16.515828
642085                               Licht  11.000000
679471            Eddie - Elevator Starter  16.515828
682655                         Bald Bidder  16.515828
786648                 Lieutenant Hagerman  16.515828
808703                       Ticket Seller  16.515828
821927                      Man at Auction  16.515828
840374                  Roger O. Thornhill   1.000000
849881       Silent State Police Detective  16.515828
884907      Man at United Nations Building  16.515828
891171                     Train Passenger  16.515828
944454                   Police Lieutenant  16.515828
969404                  Man Who Misses Bus  16.515828
982746                 Hotel Lounge Patron  16.515828
1026719     Man at United Nations Building  16.515828
1041665          Security Guard at Auction  16.515828

In [27]:
north_by_northwest = data[(data['title'] == 'North by Northwest') & data['n'].notna()]

north_by_northwest_sorted = north_by_northwest.sort_values(by='n')

print(north_by_northwest_sorted[['name', 'character', 'n']])

                      name                          character          n
840374          Cary Grant                 Roger O. Thornhill   1.000000
343701      Leo G. Carroll                      The Professor   5.000000
642085   Robert Ellenstein                              Licht  11.000000
447893     Philip Coolidge                          Dr. Cross  13.000000
198496        Edward Binns                     Captain Junket  15.000000
12151        Stanley Adams                 Lieutenant Harding  16.515828
581619     Lawrence Dobkin  U.S. Intelligence Agency Official  16.515828
605839     Alphonso DuBois     Man at United Nations Building  16.515828
679471       Tommy Farrell           Eddie - Elevator Starter  16.515828
682655     Adolph Faylauer                        Bald Bidder  16.515828
786648          Paul Genge                Lieutenant Hagerman  16.515828
808703           Ned Glass                      Ticket Seller  16.515828
821927      James Gonzalez                     Man at Auction  16.515828
849881        Tom Greenway      Silent State Police Detective  16.515828
884907       Robert Haines     Man at United Nations Building  16.515828
891171         Stuart Hall                    Train Passenger  16.515828
944454          Len Hendry                  Police Lieutenant  16.515828
969404    Alfred Hitchcock                 Man Who Misses Bus  16.515828
982746       Stuart Holmes                Hotel Lounge Patron  16.515828
503758         John Damler                  Police Lieutenant  16.515828
502759           Jack Daly                      Train Steward  16.515828
468709          Walter Coy  U.S. Intelligence Agency Official  16.515828
1026719      Hideo Inamura     Man at United Nations Building  16.515828
27852           Andy Albin                             Farmer  16.515828
54093         Don Anderson                             Worker  16.515828
54307      Ernest Anderson   Porter on Twentieth Century Ltd.  16.515828
92195    Malcolm Atterbury            Man at Prairie Crossing  16.515828
97833            Tol Avery             State Police Detective  16.515828
109025          Sam Bagley                Courtroom Spectator  16.515828
114334         Frank Baker                     Man at Auction  16.515828
479498         Jimmy Cross                     Taxi Driver #1  16.515828
137656       Baynes Barron                     Taxi Driver #2  16.515828
176030       John Beradino             Sergeant Emile Klinger  16.515828
222299     Stephen Bolster                    Man with Camera  16.515828
344204    Steve Carruthers                     Man at Auction  16.515828
350192       Taggart Casey                        Shaving Man  16.515828
356803       Bill Catching                  Auction Attendant  16.515828
424676        Bob (II) Coe                   Cropduster Pilot  16.515828
467714        David A. Cox            Police Officer on Horse  16.515828
151717       Brandon Beach                     Man at Auction  16.515828
1041665     Eugene Jackson          Security Guard at Auction  16.515828

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [28]:
sleuth_1972 = data[(data['title'] == 'Sleuth') & (data['year'] == 1972)]

sleuth_1972_sorted = sleuth_1972.sort_values(by='n')

print(sleuth_1972_sorted[['title','year','name', 'character', 'n']])

         title  year            name          character    n
314691  Sleuth  1972   Michael Caine        Milo Tindle  2.0
360365  Sleuth  1972  Alec Cawthorne  Inspector Doppler  3.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [29]:
sleuth_2007 = data[(data['title'] == 'Sleuth') & (data['year'] == 2007)]

sleuth_2007_sorted = sleuth_2007.sort_values(by='n')

print(sleuth_2007_sorted[['title','year','name', 'character', 'n']])

         title  year                 name          character          n
314692  Sleuth  2007        Michael Caine             Andrew   1.000000
250297  Sleuth  2007      Kenneth Branagh  Other Man on T.V.  16.515828
360366  Sleuth  2007  Alec (II) Cawthorne  Inspector Doppler  16.515828

### How many roles were credited in the silent 1921 version of Hamlet?

In [30]:
hamlet_1921_cast = data[(data['title'] == 'Hamlet') & (data['year'] == 1921)]

num_credited_roles_hamlet_1921 = len(hamlet_1921_cast)

print(f"Number of credited roles in the silent 1921 version of Hamlet: {num_credited_roles_hamlet_1921}")

Number of credited roles in the silent 1921 version of Hamlet: 3

### How many roles were credited in Branagh’s 1996 Hamlet?

In [31]:
hamlet_1996_cast = data[(data['title'] == 'Hamlet') & (data['year'] == 1996)]

num_credited_roles_hamlet_1996 = len(hamlet_1996_cast)

print(f"Number of credited roles in the silent 1996 version of Hamlet: {num_credited_roles_hamlet_1996}")

Number of credited roles in the silent 1996 version of Hamlet: 24

### How many "Hamlet" roles have been listed in all film credits through history?

In [32]:
hamlet_cast = data[(data['title'] == 'Hamlet')]

num_credited_roles_hamlet = len(hamlet_cast)

print(f"Number of credited roles of Hamlet: {num_credited_roles_hamlet}")

Number of credited roles of Hamlet: 113

### How many people have played an "Ophelia"?

In [33]:
ophelia_actors = data[data['character'] == 'Ophelia']

num_ophelia_actors = len(ophelia_actors['name'].unique())

print(f"Number of people who have played the role of 'Ophelia': {num_ophelia_actors}")

Number of people who have played the role of 'Ophelia': 4

### How many people have played a role called "The Dude"?

In [34]:
the_dude_actors=data[data['character']=='The Dude']

the_dude_actors_role=len(the_dude_actors['name'].unique())

print(f"Number of people who have played the role of 'The Dude': {the_dude_actors_role}")

Number of people who have played the role of 'The Dude': 6

### How many people have played a role called "The Stranger"?

In [35]:
the_stranger_actors=data[data['character']=='The Stranger']

the_stranger_actors_role=len(the_stranger_actors['name'].unique())

print(f"Number of people who have played the role of 'The Stranger': {the_stranger_actors_role}")

Number of people who have played the role of 'The Stranger': 80

### How many roles has Sidney Poitier played throughout his career?

In [36]:
sidney_poitier=data[data['character']=='Sidney Poitier']

sidney_poitier_roles=len(sidney_poitier)

print(f"Number of roles  played by the 'Sidney Poitier': {sidney_poitier_roles}")

Number of roles  played by the 'Sidney Poitier': 1

### How many roles has Judi Dench played?

In [37]:
judi_dench=data[data['character']=='Judi Dench']

judi_dench_roles=len(judi_dench)

print(f"Number of roles  played by the 'Judi Dench': {judi_dench_roles}")

Number of roles  played by the 'Judi Dench': 0

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [38]:
cary_grant_supporting_roles_1940s = data[(data['name'] == 'Cary Grant') & 
                                          (data['year'].between(1940, 1949)) & 
                                          (data['n'] == 2)]
cary_grant_supporting_roles_1940s_sorted = cary_grant_supporting_roles_1940s.sort_values(by='year')

print(cary_grant_supporting_roles_1940s_sorted[['name','year', 'title', 'character']])

              name  year             title    character
840371  Cary Grant  1940  My Favorite Wife         Nick
840381  Cary Grant  1941    Penny Serenade  Roger Adams

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [39]:
cary_grant_supporting_roles_1940s = data[(data['name'] == 'Cary Grant') &
                                         (data['year'].between(1940, 1949)) &
                                         (data['n']==1 )]
                                          
cary_grant_supporting_roles_1940s_sorted = cary_grant_supporting_roles_1940s.sort_values(by='year')

print(cary_grant_supporting_roles_1940s_sorted[['name','year', 'title', 'character']])

              name  year                                 title  \
840397  Cary Grant  1940               The Howards of Virginia
840353  Cary Grant  1940                       His Girl Friday
840399  Cary Grant  1940                The Philadelphia Story
840386  Cary Grant  1941                             Suspicion
840401  Cary Grant  1942                  The Talk of the Town
840377  Cary Grant  1942                 Once Upon a Honeymoon
840344  Cary Grant  1943                     Destination Tokyo
840369  Cary Grant  1943                             Mr. Lucky
840370  Cary Grant  1943                             Mr. Lucky
840378  Cary Grant  1944                      Once Upon a Time
840336  Cary Grant  1944                  Arsenic and Old Lace
840373  Cary Grant  1944             None But the Lonely Heart
840372  Cary Grant  1946                         Night and Day
840375  Cary Grant  1946                             Notorious
840393  Cary Grant  1947      The Bachelor and the Bobby-Soxer
840394  Cary Grant  1947                     The Bishop's Wife
840368  Cary Grant  1948  Mr. Blandings Builds His Dream House
840348  Cary Grant  1948          Every Girl Should Be Married
840357  Cary Grant  1949                I Was a Male War Bride

                    character
840397            Matt Howard
840353           Walter Burns
840399     C. K. Dexter Haven
840386                Johnnie
840401           Leopold Dilg
840377  Patrick 'Pat' O'Toole
840344          Capt. Cassidy
840369              Joe Adams
840370        Joe Bascopolous
840378            Jerry Flynn
840336      Mortimer Brewster
840373             Ernie Mott
840372            Cole Porter
840375                 Devlin
840393            Dick Nugent
840394                 Dudley
840368          Jim Blandings
840348      Dr. Madison Brown
840357  Captain Henri Rochard

### How many roles were available for actors in the 1950s?

In [40]:
roles_1950_available=data[(data['year'].between(1950,1959))]

roles_1950s=len(roles_1950_available)

print(f" Number of roles available for actors in 1950s : {roles_1950s}")

 Number of roles available for actors in 1950s : 67706

### How many roles were available for actresses in the 1950s?

In [41]:
roles_1950_available_actress=data[(data['character']=='Actress') &
                           (data['year'].between(1950,1959))]

roles_1950s_actress=len(roles_1950_available_actress)

print(f" Number of roles available for actors in 1950s : {roles_1950s_actress}")

 Number of roles available for actors in 1950s : 0

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [42]:
leading_roles_available_1980=data[(data['year']<= 1980) &
                                  (data['n'] == 1)]
leading_roles_available_1980s_n=len(leading_roles_available_1980)

print(f"Number of leading roles available for beginning of flim through 1980s : {leading_roles_available_1980s_n}")

Number of leading roles available for beginning of flim through 1980s : 18968

### How many non-leading roles were available through from the beginning of film history through 1980?

In [43]:
non_leading_roles_available_1980=data[(data['year']<= 1980) &
                                  (data['n'] != 1)]
non_leading_roles_available_1980s_n=len(non_leading_roles_available_1980)

print(f"Number of non leading roles available for beginning of flim through 1980s : {non_leading_roles_available_1980s_n}")

Number of non leading roles available for beginning of flim through 1980s : 351862

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [44]:
roles_through_1980=data[(data['year']==1980) &
                        (data['n'].notna())]
roles_through_1980_minor=len(roles_through_1980)

print(f'Roles through 1980 were minor enough that they did not warrant a numeric "n" rank : {roles_through_1980_minor}' )

Roles through 1980 were minor enough that they did not warrant a numeric "n" rank : 6628